In [ ]:
# Practical Questions

In [1]:
#1
name="Ishu"
print(name)

Ishu

In [2]:
#2
text="Hello World"
print(len(text))

11

In [5]:
#3
s='Python Programming'
print(s[0:3])

Pyt

In [8]:
#4
print('hello'.upper())

HELLO

In [9]:
#5
s='I like apple'
print(s.replace("apple", "orange"))

I like orange

In [10]:
#6
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
#7
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [12]:
#8
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [13]:
#9
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [14]:
#10
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [15]:
#11
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [16]:
#12
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [17]:
#13
nums = (10, 20, 5, 15)
print(min(nums))

5

In [18]:
#14
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [19]:
#15
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [20]:
#16
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [21]:
#17
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [22]:
#18
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [23]:
#19
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1|s2)

{1, 2, 3, 4, 5}

In [24]:
#20
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1&s2)

{2, 3}

In [25]:
#21
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [26]:
#22
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [28]:
#24
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [30]:
#26
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [32]:
#27
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[17, 21, 25, 29, 39]

In [33]:
#28
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [34]:
#29
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
#30
str_list = ["apple", "banana", "apple", "cherry"]
str_set = set(str_list)
print(str_set)

{'cherry', 'apple', 'banana'}